/*
UPPERCASE classes are handled by JavaScript
- .rtl can be added to body element
*/

// /*--------------- Light Theme ---------------*/
// $drs-bg-color: #ecf0f3;
// $drs-color: #222;
// $drs-border-color: #aaa;
// /*--------------- Dark Theme  ---------------*/
// $drs-dark-bg-color: #181818;
// $drs-dark-color: #bbb;
// $drs-dark-border-color: #5f5f5f;
// /*--------------- General     ---------------*/
// $drs-border-radius: 2px;
// $drs-height: 36px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

// For triggering when autofilled
@keyframes autofilled {
}
@keyframes noAutofill {
}

// Animations
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin icons-font {
  font-family: "Material Icons", "Material Icons Outlined",
    "Material Icons Round", "Material Icons Sharp", "Material Icons Two Tone";
}
@mixin icon-before {
  &::before {
    content: attr(data-icon);
    @include icons-font;
    margin: 0 0.2em 0 0;
    height: 1em;
  }
}

@import "input-components/drs-theme";
@import "input-components/tInput";
@import "input-components/crInput";
@import "input-components/fInput";
@import "input-components/bInput";
@import "input-components/swInput";

.flat-left,
.flat-left label,
.flat-left input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.flat-right,
.flat-right label,
.flat-right input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

// .tInput,
// .fInput,
// .bInput,
// .cInput,
// .rInput {
//   margin-top: 12px;
// }
