// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
@import "./css/drs-inputs";
@import "./css/initial";
@import "./css/segoe-ui";

$themeTransition: all 0.3s ease-in-out;

body {
  background: url(img/bg3.png) repeat;
  background-color: #eee;
  color: #222;
  min-height: 100vh;
  font-family: "Segoe UI Regular", sans-serif;
  transition: $themeTransition;
  padding-top: 5rem;
  &.DARKTHEME {
    background-color: #181818;
  }
  overflow-y: scroll;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 10%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: 2px 0 8px rgba(20, 20, 20, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: $themeTransition;
  z-index: 10;
  .header-title {
    font-weight: bold;
    margin-right: 1rem;
    font-size: 22px;
  }
  #searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    #searchInput {
      font-size: 16px;
      font-family: "Segoe UI Regular", sans-serif;
      min-width: 300px;
    }
    .searchBar-r {
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      margin-left: -0.5rem;
      transform: translateX(-100%);
      transition: $themeTransition;
      .ctrlK {
        display: inline-flex;
        background: #ddd;
        border-radius: 5px;
        font-size: 12px;
        margin-right: 0.5rem;
        padding: 0.1rem 0.3rem;
        transition: $themeTransition;
      }
    }
  }
  label[for="toggleTheme"] {
    transition: $themeTransition;
  }
}

// * Incomplete
.DARKTHEME {
  color: #bbb;
  header {
    background: rgba(0, 0, 0, 0.8);
    .header-title {
      color: #bbb;
    }
    #searchBar {
      .searchBar-r {
        color: #bbb;
        .ctrlK {
          background: #222;
        }
      }
    }
  }
}

// *
#resultsInfo {
  width: 80%;
  margin: 0 auto;
  // text-align: center;
}
#nothing {
  width: 80%;
  min-height: calc(100vh - 10rem);
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: $themeTransition;
  // min-height: calc(100vh - 15rem);
  .col {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 1rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .item {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    transition: $themeTransition;
    img {
      bottom: 0;
      width: 100%;
      transition: $themeTransition;
    }
    .info {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      padding: 1rem;
      background: rgba(50, 50, 50, 0.6);
      opacity: 0;
      cursor: zoom-in;
      transition: 0.2s ease-in-out;

      h3.title {
        color: #fff;
        margin-bottom: 1rem;
      }
      .closeBtn {
        display: none;
        font-family: "Material Icons Round";
        position: absolute;
        right: 0;
        top: 0;
        font-size: 24px;
        padding: 1rem;
        cursor: pointer;
        &:hover {
          color: coral;
        }
      }
      .description {
        max-height: calc(100% - 3rem);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 1.5rem;
        padding: 0 0.5rem;
        text-align: justify;
        background: #fff;
        border-radius: 3px;
        ul {
          li {
            display: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            &:first-child {
              display: block;
            }
          }
          & + * {
            display: none;
          }
        }
      }
      .readMore {
        font-size: 0.9rem;
        margin-top: 1rem;
        color: coral;
      }
      .price {
        color: #fff;
        background: #222;
        width: fit-content;
        border-radius: 3px;
        padding: 0.2rem 0.5rem;
      }
      a.domain {
        display: inline-flex;
        align-items: center;
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        border-radius: 5px;
        padding: 0.5rem;
        font-size: 14px;
        font-weight: bold;
        font-family: "Segoe UI Bold";
        background: #fff;
        color: #222;
        &::before {
          content: "\e157";
          font-family: "Material Icons Round";
          margin-right: 0.2rem;
        }
      }
    }
    &:not(.expanded):hover {
      .info {
        opacity: 1;
        backdrop-filter: blur(3px);
      }
    }
    &.expanded {
      overflow: visible;
      img {
        z-index: 9;
      }
      .info {
        cursor: unset;
        padding: 1.5rem;
        background: #eee;
        backdrop-filter: unset;
        z-index: 9;
        h3.title {
          color: #222;
        }
        .closeBtn {
          display: block;
        }
        .description {
          font-size: 1.15rem;
          width: calc(100% - 5rem);
          white-space: normal;
          background: transparent;
          ul {
            margin-bottom: 1rem;
            li {
              display: list-item;
              margin-left: 1rem;
              list-style: circle;
              text-overflow: unset;
              white-space: normal;
              overflow: unset;
            }
            & + * {
              display: block;
            }
          }
        }
        .price {
          font-size: 1.5rem;
          margin-top: 1rem;
        }
        a.domain {
          border: 1px solid #ddd;
          &:hover {
            border-color: #aaa;
          }
        }
        .readMore {
          display: none;
        }
      }
    }
  }
}

@keyframes loadTR {
  0% {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
  25% {
    top: 0;
    left: 0;
    width: 80px;
    height: 0;
  }
  50% {
    left: 80px;
    width: 0;
    height: 0;
  }
  75% {
    left: 80px;
    top: 0;
    width: 0;
    height: 40px;
  }
  100% {
    left: 80px;
    top: 40px;
    width: 0;
    height: 0;
  }
}
@keyframes loadBL {
  0% {
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
  }
  25% {
    bottom: 0;
    right: 0;
    width: 80px;
    height: 0;
  }
  50% {
    right: 80px;
    width: 0;
    height: 0;
  }
  75% {
    right: 80px;
    bottom: 0;
    width: 0;
    height: 40px;
  }
  100% {
    right: 80px;
    bottom: 40px;
    width: 0;
    height: 0;
  }
}

#footer-loading--container {
  position: fixed;
  left: calc(50% - 100px);
  bottom: 4rem;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  background: rgba(220, 220, 220, 0.6);
  // box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  .load-box--container {
    width: 80px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    .load-box {
      position: absolute;
      border: none;
      &.tr {
        border-top: 1px dotted #222;
        border-right: 1px dotted #222;
        animation: loadTR 1.2s infinite alternate ease-in-out;
        animation-delay: 0.5s;
      }
      &.bl {
        border-bottom: 1px dotted #222;
        border-left: 1px dotted #222;
        animation: loadBL 1.2s infinite alternate ease-in-out;
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: calc(50% - 200px);
  margin-top: 20rem;
  width: 400px;
  border-radius: 10px 10px 0 0;
  padding: 0.3rem 1rem;
  text-align: center;
  background: rgba(34, 34, 34, 0.9);
  backdrop-filter: blur(5px);
  color: #aaa;
  font-size: 14px;
}

#overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  opacity: 0;
  transition: $themeTransition;
}
