@keyframes check {
  to {
    stroke-dashoffset: 0;
  }
}

.cInput,
.rInput {
  user-select: none;
  height: $drs-height;
  display: inline-flex;
  align-items: center;
  label {
    display: flex;
    align-items: center;
    span.label {
      min-width: max-content;
      margin: 0 0.3em;
      color: $drs-color;
    }
    div.drs-check-box {
      position: relative;
      width: 22px;
      height: 22px;
      margin: 3px;
      cursor: pointer;
      border: 2px solid $drs-border-color;
      transition: all 0.1s ease-in;
      &::after {
        content: "";
        position: absolute;
        left: -8px;
        top: -8px;
        width: 34px;
        height: 34px;
        background: rgba(50, 50, 50, 0.1);
        opacity: 0;
      }
    }
  }
  input {
    opacity: 0;
    position: absolute;
    pointer-events: none;

    &:focus + label div.drs-check-box {
      border-color: darken($drs-border-color, 40);
      &::after {
        opacity: 0.8;
      }
    }
    &:checked + label div.drs-check-box,
    &:checked:focus + label div.drs-check-box {
      border-color: #127900;
    }

    // Disabled
    &:disabled + label div.drs-check-box {
      opacity: 0.6;
      cursor: default;
      &::after {
        opacity: 0;
      }
    }
    &:disabled + label span.label {
      opacity: 0.6;
    }
  }

  &:hover {
    label {
      div.drs-check-box {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  .PEND_EL {
    position: absolute;
    left: -2px;
    top: -2px;
    width: 22px;
    height: 22px;
    z-index: 2;
    opacity: 0;
    @include icons-font;
    color: lighten($drs-color, 30);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-out;
  }
  &.PENDING {
    pointer-events: none;
    cursor: default;
    label {
      div.drs-check-box {
        polyline {
          stroke: transparent;
        }
        &::before {
          background: transparent;
        }
      }
    }
    input {
      &:checked + label div.drs-check-box,
      &:checked:focus + label div.drs-check-box {
        &::after {
          stroke: transparent;
        }
      }
    }
    .PEND_EL {
      opacity: 1;
      animation: rotate 2s infinite linear;
    }
  }

  &.drs-darkTheme {
    input {
      &:focus + label {
        div.drs-check-box {
          border-color: lighten($drs-dark-border-color, 40);
        }
      }
      &:checked:focus + label div.drs-check-box {
        border-color: #127900;
      }
    }

    label {
      span.label {
        color: $drs-dark-color;
      }
      div.drs-check-box {
        border-color: $drs-dark-border-color;
        &::after {
          background: rgba(220, 220, 220, 0.1);
        }
      }
    }

    .PEND_EL {
      color: darken($drs-dark-color, 30);
    }
  }
}

.cInput {
  label {
    div.drs-check-box {
      border-radius: $drs-border-radius;
      &::after {
        border-radius: 5px;
      }
      svg {
        width: 70%;
        height: 70%;
        margin: 15%;
      }
      polyline {
        stroke-dasharray: 50;
        stroke-dashoffset: 50;
      }
      polyline {
        fill: none;
        stroke: #127900;
        stroke-miterlimit: 50px;
        stroke-width: 12px;
      }
    }
  }
  input {
    &:checked + label div.drs-check-box polyline {
      animation: check 0.1s ease-in-out forwards;
    }
  }
}

.rInput {
  label {
    div.drs-check-box {
      border-radius: 20px;
      &::after {
        border-radius: 20px;
      }
      &::before {
        content: "";
        position: absolute;
        left: 4px;
        top: 4px;
        width: 10px;
        height: 10px;
        background: #127900;
        border-radius: 20px;
        transition: 0.2s ease-in-out;
        opacity: 0;
      }
    }
  }
  input {
    &:checked + label div.drs-check-box {
      &::before {
        opacity: 1;
      }
    }
  }
}
