/*--------------- General     ---------------*/
$drs-border-radius: 5px;
$drs-height: 36px;
/*--------------- Light Theme ---------------*/
$drs-bg-color: #ecf0f3;
$drs-color: #222;
$drs-border-color: #bbb;
/*tInput*/
$drs-tInput-boxshadow: none;
$drs-tInput-disabled-boxshadow: none;
/*bInput*/
$drs-bInput-boxshadow: none;
$drs-bInput-disabled-boxshadow: none;
/*fInput*/
$drs-fInput-boxshadow: none;
$drs-fInput-disabled-boxshadow: none;
/*--------------- Dark Theme  ---------------*/
$drs-dark-bg-color: #222;
$drs-dark-color: #bbb;
$drs-dark-border-color: #555;
/*tInput*/
$drs-dark-tInput-boxshadow: none;
$drs-dark-tInput-disabled-boxshadow: none;
/*bInput*/
$drs-dark-bInput-boxshadow: none;
$drs-dark-bInput-disabled-boxshadow: none;
/*fInput*/
$drs-dark-fInput-boxshadow: none;
$drs-dark-fInput-disabled-boxshadow: none;
